%title-with-icon {
	position: relative;

	&::before {
		display: block;
		position: absolute;
		content: '';
		background: {
			repeat: no-repeat;
			position: 50% 50%;
		}
	}
}

.card {
	&-single {
		&-thumb {
			max-width: 315px;
			margin-bottom: $grid-gutter-width;
		}

		&-buttons {
			margin-top: 2em;
		}

		&-subtitle {
			margin: 1.5em 0 1.2em;
			padding: 1.3em $grid-gutter-width;
			font: {
				size: 1.125rem;
				weight: $font-weight-medium;
			}
			text-transform: uppercase;
			background-color: $gray-100;
		}

		&-box {
			width: 100%;
			height: 100%;
			border: 1px solid $border-color;

			&-wrap,
			&-bg {
				margin-bottom: 1.2em;
			}

			&-inner {
				width: 100%;
				padding: $grid-gutter-width;
				color: $gray-600;

				b,
				strong {
					color: $body-color;
				}
			}

			&-bg {
				padding: 1em $grid-gutter-width;

				&.d-flex {
					margin-bottom: 0;
					border: none;

					&._adv,
					&._dis {
						position: relative;
						padding: 3.5em 1em 1em;

						&::before {
							$size: 1.6em;

							position: absolute;
							top: 1.2em;
							left: 1.5em;
							width: $size;
							height: $size;
							content: '';
							border: 1px solid $body-color;
							border-radius: 50%;
							background: {
								repeat: no-repeat;
								position: 50% 50%;
								size: 60% auto;
							}
						}
					}

					@each $icon in $card-advdis-icons {
						&._#{$icon}::before {
							background-image: url('#{$img-dir}card/#{$icon}.svg');
						}
					}
				}

				&._gray {
					background-color: lighten($purple, 47%);
				}

				&._teal {
					background-color: lighten($teal, 50%);
				}

				&._adv {
					background-color: lighten($green, 50%);
				}

				&._dis {
					background-color: lighten($red, 41%);
				}

				&-inner {
					font: {
						size: .875rem;
						weight: $font-weight-light;
					}
				}
			}

			&-title {
				margin-bottom: 1em;
				font-size: 1.125rem;
				color: $body-color;

				&:not(:first-child) {
					margin-top: 1.5em;
				}
			}

			&-row {
				&:not(:last-child) {
					margin-bottom: .5em;
				}
			}
		}

		&-chars {
			&-item {
				font-size: .875rem;

				@include media-breakpoint-down('md') {
					padding-left: $grid-gutter-width;
				}

				@include media-breakpoint-up('lg') {
					padding-left: $grid-gutter-width * 2;
				}

				&:not(:first-child) {
					margin-top: 2.5em;
				}

				&-title {
					&::before {
						$size: 2em;

						left: -$size - .5em;
						top: -.4em;
						width: $size;
						height: $size;
						background-size: 90% auto;
					}

					@extend %title-with-icon;

					@each $icon in $card-chars-icons {
						&._#{$icon}::before {
							background-image: url('#{$img-dir}card/#{$icon}.svg');
						}
					}
				}

				&-list {
					margin-bottom: 0;
					padding-left: 0 !important;

					&.row {
						margin-left: 0;
					}

					&._check {
						li {
							padding-left: 1em;

							&::before {
								top: 0;
								width: auto !important;
								height: auto !important;
								font-size: 130%;
								line-height: 1;
								content: '\2714';
								background-color: transparent !important;
							}
						}
					}

					li::before {
						$size: 3px;

						width: $size !important;
						height: $size !important;
						background-color: $body-color !important;
					}
				}

				&-curr {
					$size: 20px;

					position: relative;
					padding-left: $size;

					&::before {
						position: absolute;
						left: 0;
						top: 0;
						width: $size;
						height: $size;
						content: '';
						background: {
							repeat: no-repeat;
							position: 50% 50%;
							size: auto 60%;
						}
					}

					@each $icon in $card-currency-icons {
						&._#{$icon}::before {
							background-image: url('#{$img-dir}card/#{$icon}.svg');
						}
					}
				}
			}
		}

		&-slist {
			&-item {
				&-title {
					&::before {
						$size: 2.5em;

						left: -$size - .5em;
						top: -.6em;
						width: $size;
						height: $size;
						border: $border-width solid lighten($blue, 41%);
						border-radius: 50%;
						background-size: 60% auto;
					}

					@extend %title-with-icon;

					@each $icon in $card-slist-icons {
						&._#{$icon}::before {
							background-image: url('#{$img-dir}card/#{$icon}.svg');
						}
					}
				}
			}
		}

		&-content {
			margin-top: 3em;
		}
	}

	&-option {
		$margin-sm: 5px;

		&-list {
			&.row._sm {
				margin: {
					left: -$margin-sm;
					right: -$margin-sm;
				}
			}

			&._column {
				position: relative;
				margin-bottom: 1em;
				padding-bottom: 1em;
				
				&::after {
					$margin-x: $grid-gutter-width * .5;
					position: absolute;
					left: $margin-x;
					right: $margin-x * 2;
					bottom: 0;
					content: '';
					border-bottom: 1px solid $gray-200;
				}
			}

			&._short {
				margin-bottom: 1.2em;
			}
		}

		&-item {
			font-weight: $font-weight-light;
			line-height: 1.2;

			&:not(:last-child) {
				margin-bottom: .4em;
			}

			&._single {
				font-size: .875rem;

				b {
					margin-left: .5em;
					font-size: 1.125rem;
				}
			}

			&._column {
				&._sm {
					margin-bottom: $margin-sm * 2;
					padding: {
						left: $margin-sm;
						right: $margin-sm;
					}
					font-size: .75rem;

					b {
						font-size: .875rem;
					}
				}

				&._md {
					font-size: .875rem;

					b {
						font-size: 1rem;
					}
				}

				b {
					display: block;
				}
			}

			&._icon {
				&::before {
					content: '';
					border-radius: 50%;
					background: {
						color: lighten($primary, 30%);
						repeat: no-repeat;
						position: 50% 50%;
						size: 60% auto;
					}
				}

				&._md {
					&::before {
						$size: 2.4em;

						min-width: $size;
						min-height: $size;
						margin-right: 1em;
					}
				}

				&._column._sm {
					&::before {
						$size: 2.4em;

						min: {
							width: $size;
							height: $size;
						}
						margin-right: .5em;
					}
				}

				&._short._sm {
					&::before {
						$size: 1.6em;

						min: {
							width: $size;
							height: $size;
						}
						margin: {
							top: -.2em;
							right: .5em;
						}
					}
				}

				@each $icon in $card-option-icons {
					&._#{$icon}::before {
						background-image: url('#{$img-dir}card/#{$icon}.svg');
					}
				}
			}

			&._list {
				$size: .3125em;

				position: relative;
				margin: .7em 0;
				padding-left: 1em;

				&::before {
					position: absolute;
					left: 0;
					top: .45em;
					width: $size;
					height: $size;
					content: '';
					border-radius: 50%;
					background-color: $primary;
				}
			}

			b {
				font-weight: $font-weight-medium;
			}
		}
	}

	&-item {
		&-container {
			&._column {
				position: relative;
				margin-top: -1px;
				border-bottom: 1px solid $gray-200;

				@include transition;

				@include media-breakpoint-down('sm') {
					$padding-x: $grid-gutter-width * .5;

					margin-bottom: $grid-gutter-width;
					padding: {
						left: $padding-x;
						right: $padding-x;
					}
					background-color: $white;
					box-shadow: 1px 5px 29px 0 rgba($black, .1);
				}

				@include media-breakpoint-up('md') {
					&:hover {
						box-shadow: 1px 5px 29px 0 rgba($black, .1);
					}
				}
			}

			&._column._sm {
				@include media-breakpoint-up('lg') {
					min-width: 800px;
					z-index: 1;
				}
			}

			&._short {
				width: 100%;
				padding: 1.5em;
			}
		}

		&-title,
		&-nav {
			&._sm {
				margin-bottom: 1.5em;
			}

			&._md {
				margin-bottom: 1em;
			}

			&._short {
				margin-bottom: 1em;
			}
		}

		&-title {
			&._sm {
				font-size: .9375rem;
			}

			&._md {
				font-size: 1.25rem;
			}

			&._short {
				font-size: 1.125rem;
			}
		}

		&-nav {
			&._column {
				padding-right: $grid-gutter-width;

				@include media-breakpoint-down('sm') {
					text-align: center;
				}

				@include media-breakpoint-up('md') {
					text-align: right;
				}
			}

			&._short {
				position: absolute;
				top: 50%;
				right: 1em;
				transform: translateY(-50%);
			}

			&-item {
				$color: $gray-400;
				$color-hover: $primary;

				border: {
					width: $border-width;
					style: solid;
					color: $color;
					radius: 50%;
				}
				text-align: center;

				&:hover {
					border-color: $color-hover;

					.icon {
						fill: $color-hover;
					}
				}

				&:not(._column) {
					display: block;
				}

				&._column {
					display: inline-block;
				}

				&._short {
					&:not(:last-child) {
						margin-bottom: .5em;
					}
				}

				&._sm {
					$size: 1.7em;

					width: $size;
					height: $size;
					line-height: 1.5;
				}

				&._md {
					$size: 2em;

					width: $size;
					height: $size;
					line-height: 1.7;
				}

				.icon {
					$size: $grid-gutter-width * .5;

					width: $size;
					height: $size;
					fill: $color;

					@include transition;
				}
			}
		}

		&-thumb {
			margin-bottom: 0;

			&._column {
				@include media-breakpoint-down('sm') {
					padding: {
						left: 0;
						right: 0;
					}
				}

				img {
					max-width: calc(100% + #{$grid-gutter-width * .5});
					margin-right: -$grid-gutter-width * .5;
					padding: $grid-gutter-width * .5;
					background-color: $gray-100;
				}
			}

			&._short {
				$margin: 1.5em;
				$padding: .9em;

				position: relative;
				margin: {
					left: -$margin;
					top: -$margin;
					right: -$margin;
					bottom: $padding;
				}
				padding: {
					left: $margin;
					top: $padding;
					right: $margin;
					bottom: $padding;
				}
				background-color: $gray-100;

				img {
					max-width: 65%;
					margin: {
						left: auto;
						right: auto;
					}
				}
			}
		}

		&-content {
			&._column {
				&._sm {
					$padding-y: $grid-gutter-width * .7;

					padding: {
						top: $padding-y;
						bottom: $padding-y;
					}
				}

				&._md {
					$padding-y: $grid-gutter-width;

					padding: {
						top: $padding-y;
						bottom: $padding-y;
					}
				}
			}

			&._short {
				flex-grow: 1;
			}
		}

		&-footer {
			&._short {
				margin-top: auto;
			}
		}

		&-order {
			&._column {
				margin-right: 1em;
			}
		}

		&-more {
			a {
				color: $gray-400;

				&::after {
					margin-left: .5em;
					content: '\2192';
				}
			}
		}
	}

	&-grid {
		&-list {
			&-container {
				$paddin-y: 3em;

				padding-bottom: $paddin-y;

				&._credit {
					margin-bottom: $paddin-y;
					padding-top: $paddin-y;
					background-color: $gray-100;
				}
			}

			&-title {
				margin-bottom: 2em;
			}
		}

		&-item {
			display: block;
			width: 100%;
			margin-bottom: $grid-gutter-width;
		}

		&-more {
			margin-top: .5em;
			font: {
				size: .875rem;
				weight: $font-weight-bold;
			}
			text: {
				align: center;
				transform: uppercase;
			}

			a {
				display: inline-block;
				color: $gray-400;
				border-bottom: {
					width: $border-width;
					style: solid;
				}

				&:hover {
					color: inherit;
				}
			}
		}
	}
}