.category {
	&-menu {
		&-item {
			margin: {
				right: -1px;
				bottom: -1px;
			}
			padding: 0;
			border: 1px solid $gray-200;
			background: $white;

			&-link,
			&-title,
			&-i {
				display: block;
			}

			&-link {
				width: 100%;
				padding: $grid-gutter-width * .5;
				transform: scale(1.02); // Fix parent visible borderds

				&._sm {
					@include media-breakpoint-up('xl') {
						padding: {
							top: $grid-gutter-width;
							bottom: $grid-gutter-width;
						}
					}
				}

				&._lg {
					@include media-breakpoint-up('xl') {
						min-height: 150px;
						padding: $grid-gutter-width;
					}

					@include media-breakpoint-down('lg') {
						font-size: .875rem;
					}
				}

				&:hover {
					color: inherit;
					background-color: $primary;
					box-shadow: 0 0 24px 0 rgba($black, .15);
				}
			}

			&-i {
				$size: $grid-gutter-width * .8;

				height: $size;
				background: {
					repeat: no-repeat;
					size: auto 100%;
				}

				&._side {
					@include flex-width($size);

					margin-right: .5em;
					background: {
						position: 50% 50%;
						size: contain;
					}
				}
			}

			&-title {
				line-height: 1.2;

				&._sep {
					&::before {
						display: block;
						width: $grid-gutter-width;
						margin: .7em 0;
						content: '';
						border-top: 1px solid $primary;

						@include transition;
					}

					:hover > & {
						&::before {
							border-color: inherit;
						}
					}
				}
			}

			a._sm {
				margin: 0;
				font: {
					size: .875rem;
					weight: $font-weight-normal;
				}
				text-transform: none;
			}
		}
	}
}