.entry {
	padding: 3.5em 0 1em;

	&-title {
		margin-bottom: 1.5em;
	}

	&-content {
		margin-top: $grid-gutter-width;

		.wp-caption {
			max-width: 100%;

			&-text {
				margin-top: .5em;
				font-size: 80%;
				text-align: center;
			}
		}

		.important {
			font: {
				size: 1.125rem;
				weight: $font-weight-bold;
			}
		}

		img {
			max-width: 100%;
			height: auto;
		}

		table {
			@include media-breakpoint-down('md') {
				display: block;
				//max-width: min-content;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
			}
		}

		ul,
		ol {
			padding-left: $grid-gutter-width * .667;

			li {
				position: relative;
				list-style: none;

				&::before {
					display: block;
					position: absolute;
					left: 0;
				}
			}
		}

		ul {
			li {
				margin: .3em 0;
				padding-left: $grid-gutter-width * .4;

				&::before {
					$size: 5px;

					top: .6em;
					width: $size;
					height: $size;
					content: '';
					background-color: $blue;
				}
			}
		}

		ol {
			counter-reset: ol-list;

			li {
				margin: 1.5em 0;
				padding-left: $grid-gutter-width * 1.6;

				&::before {
					$size: $grid-gutter-width;

					top: -.2em;
					width: $size;
					height: $size;
					font: {
						size: 1.125rem;
						weight: $font-weight-medium;
					}
					text-align: center;
					color: lighten($blue, 30%);
					counter-increment: ol-list;
					content: counter(ol-list);
					border: {
						width: 2px;
						style: solid;
						color: currentColor;
						radius: 50%;
					}
				}
			}
		}
	}

	&-social {
		margin-bottom: 2.5em;

		@include media-breakpoint-down('xs') {
			padding: .5em;
			border: 3px solid $gray-100;
		}

		@include media-breakpoint-up('sm') {
			padding: 1.5em;
			border: $grid-gutter-width * .5 solid $gray-100;
		}

		&-title {
			margin-bottom: 1em;

			@include media-breakpoint-down('sm') {
				font-size: 1rem;
			}

			@include media-breakpoint-up('md') {
				font-size: 1.125rem;
			}
		}

		&-ico {
			$size: $grid-gutter-width;

			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: $size;
			height: $size;
			margin: 0 .2em;
			color: $gray-500;
			border: {
				width: 1px;
				style: solid;
				color: currentColor;
				radius: 50%;
			}
			cursor: pointer;

			@include transition;

			&:hover {
				color: $gray-900;
			}

			svg {
				height: 70%;

				@include transition;
			}
		}

		&-rating {
			@include media-breakpoint-down('xs') {
				margin-top: 1em;
			}
		}

		.post-ratings {
			font-size: 80%;
			color: $gray-800;

			&-text {
				position: absolute;
			}

			img {
				width: 20px;
				height: auto;
				margin-right: .5em;
				vertical-align: top;
			}
		}
	}

	&-pages-menu {
		margin: 2em 0 1em;
		padding-left: 0;
		list-style: none;

		.current-menu-item {
			a {
				$bg-color: $primary;

				color: $gray-900;
				border-color: $bg-color;
				background-color: $bg-color;
			}
		}

		li {
			display: inline-block;
			margin: {
				right: $grid-gutter-width * .5;
				bottom: 1em;
			}
			font: {
				size: .875rem;
				weight: $font-weight-bold;
			}
			color: $gray-400;
		}

		a {
			display: block;
			padding: 1em 1em;
			color: inherit;
			border: {
				width: 1px;
				color: currentColor;
				style: solid;
			}

			&:hover {
				color: $gray-900;
				border-color: $primary;
			}
		}
	}

	&-more {
		margin-top: 2.5em;
		font: {
			size: .875rem;
			weight: 700;
		}
		text-transform: uppercase;

		a {
			display: inline-block;
			color: $gray-400;
			border-bottom: {
				width: 1px;
				style: solid;
			}

			&:hover {
				color: inherit;
			}
		}
	}

	&-none {
		min-height: 250px;
	}
}